<% include ../partials/header %>
  <header class="jumbotron">
    <div class="container">
      <h1><img src="images/default-tent.png" style="width: 8vw" alt="Tent Camping in Oregon" title="Tent Camping in Oregon"> Welcome to Oregon In Tents</h1>
      <p>Take a look at our public campground listings or check out our members only secret campgrounds.</p>
      <p> <a class="btn btn-primary btn-lg" href="/campgrounds/new">Add a new campground</a>
    </div>
  </header>
  
<!-------------------------
      Search Filter
-------------------------->
<div class="row">
  <div class="col-lg-12" id="searchFilter">
    <form action="/campgrounds" method="GET">
      <span>Within</span>
      <input required name="distance" type="text" placeholder="10" maxlength="3" size="3" value=<%=qryDistance%> >
      <span>miles of </span>
      <input required name ="city" type="text" placeholder="city" maxlength="30" size="15" value=<%=qryCity%>><strong>, </strong>
      <input required name ="state" type="text" placeholder="state" maxlength="2" size="2" value="OR">
      <input class="btn btn-primary btn-sm" type = 'submit' value='Filter Results'></input>
      <a class="btn btn-secondary" href="/campgrounds">Reset</a>
      <span class = "filterResultsMsg"><%=publicCgLength%> public campgrounds found!</span>
    </form>
  </div>
</div>

<!-------------------------
    Public Campgrounds 
-------------------------->
  <div class ="row public-cg">
    <div class="col-lg-12">
      <h2>Public Campgrounds </h2>
      <hr>
    </div>
  </div>
  
  <div class="row text-center public-cg" style="display:flex; flex-wrap: wrap;">
    <% publicCampgrounds.forEach(function(campground) { %>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="thumbnail">
          <img src="<%=campground.image%>" alt="<%=campground.name%>" title="<%=campground.name%>">
            <div class="caption">
              <h4> <%=campground.name %> </h4>
              <p><%=campground.location%></p>
              <p>$ <%=campground.price%> / night</p>
              
            </div>
            <p>
              <a href="/campgrounds/<%= campground._id %>" class="btn btn-info"><i class="fa fa-info-circle" aria-hidden="true"></i><span>    More Info</span></a>
            </p>
        </div>
      </div>
    <% }); %>
  </div>
  
<!-------------------------
    Secret Campgrounds 
-------------------------->
  <div class ="row secret-cg">
    <div class="col-lg-12">
      <h2>Secret Campgrounds</h2>
      <hr>
    </div>
  </div>
  
   <div class="row text-center secret-cg" style="display:flex; flex-wrap: wrap;">
     
     
    
    <% if (currentUser && currentUser.isMember) { %>  <!-- IF User IS a MEMBER -->
    
    <% secretCampgrounds.forEach(function(campground) { %>
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="thumbnail">
          <img src="<%=campground.image%>" alt="<%=campground.name%>" title="<%=campground.name%>">
            <div class="caption">
              <h4> <%=campground.name %> </h4>
              <p><%=campground.location%></p>
              <p>$ <%=campground.price%> / night</p>
              
            </div>
            <p>
              <a href="/campgrounds/<%= campground._id %>" class="btn btn-info"><i class="fa fa-info-circle" aria-hidden="true"></i><span>    More Info</span></a>
            </p>
        </div>
      </div>
    <% }); %>
    
    
    <% } else { %>  <!-- IF User is NOT a member -->
      <% for (var i =0; i < 11; i++) { %>
        
        <div class="col-lg-3 col-md-4 col-sm-6">
          <div class="thumbnail">
            <img src="images/default-tent.png" alt="" title="">
              <div class="caption">
                <h4>???</h4>
                <p>???</p>
                <p>???</p>
              </div>
              <p><a href="/members" class="btn btn-info"><i class="fa fa-info-circle" aria-hidden="true"></i><span>    More Info</span></a> </p>
          </div>
        </div>
      <% } %>
    <% } %>
  </div>

<% include ../partials/footer %>