<% include ../partials/header %>


<h1><img width="100px" height= "100px" src="<%=currentUser.avatar%>"> <%=currentUser.username%></h1>
<h3>Bio</h3>
<p><%=currentUser.bio%></p>

<table class="user-profile">
  
  <thead>
    <tr>
      <th>Attribute</th>
      <th>Value</th> 
    </tr>
  </thead>
  
    <tbody>
      <tr>
        <td>Forest Power:</th>
        <td><%=currentUser.publicPoints%></th> 
      </tr>
      <tr>
        <td>Member:</th>
        <td><%=currentUser.isMember%></th> 
      </tr>
      <tr>
        <td>Administrator:</th>
        <td><%=currentUser.isAdmin%></th> 
      </tr>
  </tbody>
  
</table>

<% include ../partials/footer %>